
* {
    font-family: Montserrat;
  }

hr{
  margin: 0px;
  border: 0px;
  padding: 0px;
}
  body {
    margin: 0px;
  }
  
  p {
    margin: 0px;
    padding: 0px;
  }
  
  .wrapper {
    display: flex;
    flex-direction: column;
    width: 1920px;
    height: 4658px;
    background: #fff;
  }
  
  /* Header */
  .header_wrapper{
    width: 1920px;
    height: 807px;
    border-radius: 80px;
    background: rgba(30, 30, 30, 0.56);
    background: url(skyscapper.png);
    display: flex;
    flex-direction: column;
    background-size: cover;
  }
  
  .header {
    width: 1920px;
    height: 139px;
    flex-shrink: 0;
    background: var(--primary, #fff);
    display: flex;
  }
  
  .logo {
    margin: 40px 0px;
    margin-left: 60px;
  }
  
  .home {
    color: #002163;
    font-family: Montserrat;
    font-size: 26px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    display: flex;
    gap: 50px;
    align-items: center;
    margin-left: 317px;
    flex-shrink: 0;
  }
  
  .call {
    color: #fff;
    font-family: Montserrat;
    height: 32px;
    font-size: 26px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    border-radius: 39px;
    background-color: #002163;
    padding: 30px 72px;
    margin-right: 46px;
    justify-content: flex-end;
    align-self: center;
    margin-left: 50px;
  }
  
  .use {
    display: flex;
    flex-direction: column;
    max-width: fit-content;
    align-items: center;
    margin-top: 250px;
    margin-left: 680px;
  }
  
  .us {
    color: #fff;
    font-family: Montserrat;
    font-size: 96px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }
  
  .is {
    color: #fff;
    font-family: Montserrat;
    font-size: 48px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
  }
  

/* main content  */
.main_wrapper{
    display: flex;
    flex-direction: column;
    height: 2874px;
    padding: 0px 132px;
    padding-top: 100px;

}

.search_wrapper{
    display: flex;
    flex-wrap: nowrap;
    height: 88px;
    margin-bottom: 38px;  
    gap: 28px;
}


.search_bar{
    width: 1358px;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: flex-start;
    gap: 30px;
    border-radius: 13px;
    border: 3px solid #E3E3E3;
}
.add input{
    color: #C0C0C0;
    font-family: Montserrat;
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    width: 748px;
    height: 38px;
    border: 0px;
}

.search_icon{
    display: flex;
    border-radius: 13px;
    background: #002163; 
    align-items: center;  
    justify-content: center;
    gap: 20px;
    width: 271px;
}

.sea{
    color: #FFF;
    font-family: Montserrat;
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
        
}


.main_content_wrapper{
    height: 2600px;
    display: flex;
}

.head_style{
    color: #000;
font-family: Montserrat;
font-size: 26px;
font-style: normal;
font-weight: 600;
line-height: normal;
}

.content_style{
    color: #0F0F0F;
font-family: Montserrat;
font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: normal;
height: 24px;
}
.filter_wrapper{
    width: 374px;
    height: 1300px;

}

.side_top{
 display: flex;
 flex-wrap: nowrap;
 justify-content: space-between;
 margin-top: 12px;
 margin-bottom: 20px;
}



.reset_filters{
  color: #707070;
  font-family: Montserrat;
  font-size: 26px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  height: 32px;
}


.result_wrapper{
    margin-left: 100px;
   width: 1164px;
   height: 2600px;
   border: 1px solid red ; 

}

.line{
  width: 374px;
  height: 1px;
  
  
}

.area{
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-between;
  height: 100px;
  margin-bottom: 30px;
}

.k{
  width: 62px;
  height: 32px;
}

.area_box select{
  border-radius: 13px;
border: 3px solid #A7A5A5;
  width: 352px;
  height: 48px;
}

.check{
  display: flex;
  margin-bottom: 10px;
  justify-content: flex-start;

}

.check input{
  width: 24px;
  height: 24px;
  margin: 0px;
}

.check label {
  margin-left: 20px;
}


.frame_1{
  display: flex;
  justify-content: flex-start;
  margin-bottom: 10px;
}

.con_wrapper{
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
}

.style_of_home{
  height: 242px;
}

.property_type{
  height: 212px;
  margin-bottom: 30px;
}

.style_of_home{
  height: 212px;
  margin-bottom: 30px;
}


.price{
  height: 106px;
  margin-bottom: 30px;
}


.bhk{
  height: 74px;
  margin-bottom: 30px;
}


.size{
  height: 106px;
  margin-bottom: 30px;
}

.possession{
  height: 212px;
  margin-bottom: 30px;
}


.number_max{
  display: flex;
  height: 24px;
  justify-content: space-between;
}

.svg_icon{
  display: flex;
  justify-content: space-around;
  flex-wrap: nowrap;
  width: 324px;
  align-items: center;
}

.des{
  width: 330px;
height: 3px;
background: #002163;
}

.plus{
  
  color: #0F0F0F;
font-family: Montserrat;
font-size: 20px;
font-style: normal;
font-weight: 500;
line-height: normal;


}

.plus_icon{
  width: 118px;
  height: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.minus{
  color: #FFF;
font-family: Montserrat;
font-size: 18px;
font-style: normal;
font-weight: 600;
line-height: normal;
padding: 1px 0px 1px 5px;
background-color: #002163;
width: 20px;
height: 20px;
}

.result_topic{
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
}

.sort_new select{

  border-radius: 13px;
  border: 3px solid #A7A5A5;
  width: 288px;
  height: 56px;
}

.group{
  display: flex;
}

.map{
  width: 532px;
height: 706px;
border-radius: 40px;
background: linear-gradient(180deg, rgba(217, 217, 217, 0.00) 41.43%, rgba(64, 87, 134, 0.71) 51.72%, rgba(34, 62, 118, 0.84) 57.99%, rgba(15, 45, 107, 0.93) 63.5%, rgba(5, 37, 102, 0.98) 68.02%, rgba(2, 35, 100, 0.99) 72.28%, #002163 100%);
border: 1px solid black;
}

.other {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-around;
  height: 238px;
  margin-left: 28px;
  margin-top: 380px;
}

.marry {
  color: #FFF;
font-family: Montserrat;
font-size: 26px;
font-style: normal;
font-weight: 700;
line-height: normal;
}

.smith {
  color: #FFF;
font-family: Montserrat;
font-size: 25px;
font-style: normal;
font-weight: 500;
line-height: normal;
text-transform: capitalize;
}

.roy {
  color: #FFF;
font-family: Montserrat;
font-size: 25px;
font-style: normal;
font-weight: 500;
line-height: normal;
text-transform: capitalize;
display: flex;
width: 464px;
justify-content: space-between;
}

.roy_1{
  display: flex;
}

.roy_2{
  color: #FFF;
  font-family: Montserrat;
  font-size: 25px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-transform: capitalize;
}
.on_map{
  display: flex;
  justify-content: space-between;
  width: 450px;
  height: 43px;
  align-items: center;
}

.con{
  display: flex;
  width: 134px;
  justify-content: space-between;
  color: #002163;
font-family: Montserrat;
font-size: 26px;
font-style: normal;
font-weight: 500;
line-height: normal;
padding: 6px 22px;
border-radius: 21.5px;
background: #FFF;

align-items: center;
}

.pad{
  
}


/* Newsletter  */
.newsletter {
    width: 1296px;
    height: 218px;
    border-radius: 40px;
    background: var(--secondary, #002163);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    display: flex;
    justify-content: space-around;
    flex-wrap: nowrap;
    margin-top: 238px;
    margin-left: 324px;
  }
  
  .pic {
    width: 406px;
    height: 140px;
    border: 1px solid red;
    margin-top: 32px;
  }
  
  .subscribe {
    width: 698px;
    height: 140px;
    margin-top: 32px;
  }
  
  .to_our {
    color: #fff;
    font-family: Montserrat;
    font-size: 34px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    width: 480px;
    height: 40px;
    margin-bottom: 20px;
  }
  
  .mail_label {
    display: flex;
    width: 698px;
    justify-content: space-between;
  }
  
  .label input {
    width: 565px;
    height: 77px;
    border-radius: 13px;
    background: #fff;
  }
  
  .mail_icon {
    width: 49px;
    height: 49px;
    padding: 14px 17px;
    border-radius: 13px;
    background: #fff;
  }

/* footer  */
.footer {
    height: 740px;
    width: 1920px !important;
  }
  
  /* .foot_wrapper{
          display: flex;
          height: 307px !important;
          border: 1px solid aqua;
          flex-wrap: nowrap;
          
          } */
  
  .real {
    width: 365px !important;
    height: 307px;
  
    /* border: 1px solid red; */
  }
  
  .quick {
    display: flex;
    /* border: 1px solid red; */
    justify-content: space-around;
    flex-wrap: nowrap;
    margin-top: 28px;
  }
  
  .list {
    list-style-type: none;
    color: #6d6d6d;
    font-family: Montserrat;
    font-size: 26px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-top: 70px;
  }
  
  ul {
    margin: 0px;
    padding: 0px;
    list-style-type: none;
  }
  
  ul li {
    margin-bottom: 18px;
  }
  
  .blue {
    color: #002163;
    font-family: Montserrat;
    font-size: 26px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }
  
  .lorem {
    width: 365px;
    height: 128px;
    flex-shrink: 0;
    color: #383838;
    font-family: Montserrat;
    font-size: 26px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-top: 50px;
  }
  
  .sm {
    width: 50px;
    height: 49.766px;
    flex-shrink: 0;
    fill: #002163;
    display: flex;
    gap: 40px;
    margin-left: 58px;
  }
  
  .hr {
    width: 1750px;
    height: 3px;
    background: #002163;
    margin-left: 70px;
    margin-top: 82px;
  }
  
  .copy {
    color: #383838;
    font-family: Montserrat;
    font-size: 26px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-top: 30px;
    margin-left: 482px;
  }